.area {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div1,
.div2,
.div3,
.div4 {
    float: left;
    width: 25%;
    text-align: center;
}

.head {
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 768px){
}