.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
    background-attachment: fixed;
    padding: 1px;
    text-align: center;
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
}

.main-content {
    color: #eee;
    font-size: 30px;
}

.main-button {
    font-size: 20px;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
}

.box-background {
    background-color: rgb(206, 206, 206);
    width: 80%;
    max-width: 600px;
    height: 200px;
    margin : auto;
    position: relative;
    text-align: center;
    padding: 20px;
    top: -40px;
}

div,
input,
textarea {
    box-sizing: border-box;
}

@font-face {
    font-family: 'wow';
    src: url();
}

body {
    margin: 0px;
}

.nav-container {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 5px;
}

.nav-item {
    margin-right: 10px;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}