.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background-color: aquamarine;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 15spx;
    box-shadow: 4px 4px 5px 1px;
}

.container{
    width: 800px;
}

.blog_content {
    width: 80%;
    height: 200px;
    background-color: #eee;
    float: left;
}

.blog_img {
    width: 20%;
    height: 200px;
    background-color: yellow;
    float: left;
}

.blog-profile{
    width: 50px;
    float: left;
}

.blog-name {
    float: left;
}